
body { margin: 0px; -webkit-user-select: none; }
#container { height: 100%; width: 100%; 
	     background-color: rgba(56,108,179, 0.5);
	/* Disable tap highlighting */
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.taken-img { width:100%; }

.items { background-color:#d3e7f6; }
.item  { width:46%; margin-bottom:20px; margin-right:2%; float:left;
    display:block; }
.item img { width:80%; }

